{% extends "base.html.twig" %}

{% block head %}
    <script src="{{ asset('a-propos.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="container-a_propops">
        <img src="{{ asset('flou3.png') }}" class="image-a_propops">
        <h1 class="job-title-a_propos">À propos de nous</h1>
    </div>
    <div class="bloc-violet">
        <div>
            <img src="{{ asset('logo2.png') }}" alt="Logo circulaire">
        </div>
        <h2>Une question ?</h2>
        <h3>Une question concernant tout type de problème ou de service ? Contactez nous au <B><u>03 69 69 69 69</u></B></h3>
        <h2>À propos de nous</h2>
        <h3>Web4All est une entreprise innovante spécialisée dans la création de sites web accessibles à tous, quel que soit le niveau de compétence technique. Nous concevons des solutions web sur mesure, intuitives et inclusives, pour permettre à chacun de bénéficier d'une présence en ligne professionnelle et performante. Notre mission : rendre le web simple, universel et adapté à tous les besoins.</h3>
    </div>
    <div class="form-container">
        <h2 class="form-title">Formulaire de contact</h2>
        <p class="form-description">Nos équipes sont à votre écoute pour répondre efficacement à votre besoin.</p>
        <form action="#" method="post">
            <div class="form-row">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nom" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Prénom" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="E-mail" required>
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Téléphone">
                </div>
            </div>
            <div class="form-group full-width">
                <textarea class="form-control" placeholder="Message" required></textarea>
            </div>
            <div class="form-submit">
                <button type="submit" class="btn-submit">Envoyer</button>
            </div>
        </form>
    </div>

{% endblock %}